@import url('https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans+Condensed:wght@300&family=Roboto+Condensed&display=swap');


/* HOW TO USE FONTS 
font-family: 'Alata', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

/* Declaring of CSS Variables */
:root {
  --heading-font-family: 'Alata', sans-serif;
  --body-font-family: 'Open Sans Condensed', sans-serif;
  --text-color: #ffffff;
  --bg-color: #0e2431;
}

/* Reset */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* SMOOTH SCROLL */
html {
  scroll-behavior: smooth;
  height: 100vh;
}

/* HOME SECTION STYLING*/
/* Navbar Styling */
header {
  position: sticky;
  top: 0;
  max-width: 100%;
  z-index: 1;
}

#navbar {
  background-color: var(--bg-color);
  max-width: 100%;
  height: auto;
  color: var(--text-color);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 80%;
}

#navbar .openMenu {
  font-size: 2rem;
  color: #ffe4c4;
  margin: 20px;
  cursor: pointer;
  display: none;
}

#navbar .nav-item {
  display: flex;
  margin: 20px;
}

#navbar .nav-item li {
  list-style-type: none;
}

#navbar .nav-item .nav-link-active {
  color: bisque;
}

#navbar .nav-item a {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size);
  text-decoration: none;
  padding: 35px;
  color: var(--text-color);
}

#navbar .nav-item .closeMenu {
  font-size: 2rem;
  color: #ffe4c4;
  cursor: pointer;
  display: none;
}

#navbar .nav-item a:hover {
  color: bisque;
}

/* SHOWCASE SECTION STYLING */
/* SHOWCASE IMAGE */
.showcase {
  background: url(../assets/showcase.jpg) no-repeat center center/cover;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

/* SHOWCASE CONTENT STYLING */
.showcase .showcase-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 30%;
  padding-top: 200px;
}

.showcase .showcase-content h1 {
  font-family: var(--heading-font-family);
  font-size: 38px;
}

.showcase .showcase-content p {
  font-family: var(--body-font-family);
  font-size: 24px;
  font-weight: bold;
}

/* WHAT I DO STYLING */
.container {
  margin: auto;
  max-width: 80%;
}

.services .services-header {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 25px;
  color: #0e2431;
  text-align: center;
  padding-top: 40px;
}

.services .service-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  padding: 20px;
}

.services .service-grid .web-dev {
  font-family: var(--body-font-family);
  font-weight: bold;
  font-size: 18px;
  color: #0e2431;
  padding: 25px;
}

.services .service-grid .web-dev h2 {
  font-family: var(--heading-font-family);
  font-size: 24px;
}

.services .service-grid .web-hosting {
  font-family: var(--body-font-family);
  font-weight: bold;
  font-size: 18px;
  color: #0e2431;
  padding: 25px;
}

.services .service-grid .web-hosting h2 {
  font-family: var(--heading-font-family);
  font-size: 22px;
}

/* STATS AND CERT STYLING */
.stats-cert {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.stats-cert i {
  color: bisque;
}

.stats-cert .stat {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 23px;
  color: var(--text-color);
  text-align: center;
  padding-top: 40px;
  color: #ffe4c4;
}

.stats-cert .stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.stats-cert .stats-grid .cert {
  font-family: var(--body-font-family);
  font-weight: bold;
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
  padding: 25px;
}

.stats-cert .stats-grid .cert h2 {
  color: #ffe4c4;
}

.stats-cert .stats-grid .cert li {
  list-style-type: none;
  padding: 10px;
}

.stats-cert .stats-grid .works {
  font-family: var(--body-font-family);
  font-weight: bold;
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
  padding: 25px;
}

.stats-cert .stats-grid .works {
  color: #ffe4c4;
}

.stats-cert .stats-grid .works li {
  list-style-type: none;
  padding: 10px;
}

/* SKILLS SECTION */
.skills {
  background: url(../assets/skill-bg.jpg) no-repeat center center/cover;
}

.skills h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 25px;
  color: #0e2431;
  text-align: center;
  padding-top: 40px;
}

.skills .skills-grid {
  font-family: var(--body-font-family);
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #0e2431;
  margin: 30px;
  padding: 50px;
  text-align: center;
  margin-bottom: 0;
}

.skills .skills-grid .html {
  padding: 20px;
}

.skills .skills-grid i {
  font-size: 50px;
}

/* TESTIMONIES STYLING */
.testimonies {
  background-color: var(--bg-color);
  margin-bottom: 5px;
}

.testimonies h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 23px;
  color: #ffe4c4;
  text-align: center;
  padding-top: 40px;
}

.testimonies .testimonies-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.testimonies .testimonies-grid .test {
  font-family: var(--body-font-family);
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #0e2431;
  border-radius: 15px;
  background-color: var(--text-color);
  margin: 20px 5px;
  padding: 15px;
}

.testimonies .testimonies-grid .test h2 {
  font-family: var(--heading-font-family);
}

.testimonies .testimonies-grid .test img {
  max-width: 200px;
  max-height: 100px;
  border-radius: 50%;
}

/* MEMORY GRID STYLING */
.memories h1 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 25px;
  color: #0e2431;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.memories .memories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px auto;
  max-width: 75%;
}

.memories .memories-grid img {
  max-width: 400px;
  max-height: 200px;
}

/* FOOTER STYLING */
footer {
  background-color: var(--bg-color);
  padding: 7px;
}

footer i {
  color: #ffe4c4;
}

footer .footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-family: var(--body-font-family);
  padding: 10px;
}

footer .footer-grid .message h2 {
  font-family: var(--heading-font-family);
  padding-bottom: 8px;
  color: #ffe4c4;
}

footer .footer-grid .message {
  text-align: center;
  color: var(--text-color);
  padding: 8px;
}

footer .footer-grid .message div {
  padding-bottom: 10px;
}

footer .footer-grid .message .social-icon a {
  padding: 10px;
  color: #ffe4c4;
}

footer .footer-grid .subscribe {
  text-align: center;
  color: var(--text-color);
  padding: 5px;
}

footer .footer-grid .subscribe h2 {
  font-family: var(--heading-font-family);
  padding-bottom: 8px;
  color: #ffe4c4;
}

footer .footer-grid .subscribe input {
  padding: 6px;
}

footer .footer-grid .subscribe button {
  padding: 6px;
  color: var(--bg-color);
}

footer .footer-grid .subscribe button:hover {
  background: #ffe4c4;
  color: var(--bg-color);
}

footer .copyright {
  font-family: var(--body-font-family);
  color: #ffe4c4;
  text-align: center;
  padding: 5px;
}

/* ABOUT SECTION STYLING */
.about-me h2 {
  font-family: var(--heading-font-family);
  text-align: center;
  color: var(--bg-color);
  padding-top: 12px;
}

.about-me .about-me-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 30px auto;
  max-width: 70%;
}

.about-me .about-me-grid .my-image img {
  max-width: 500px;
  max-height: 400px;
  border-radius: 15px;
}

.about-me .about-me-grid .about-desc {
  font-family: var(--body-font-family);
  font-size: 18px;
  font-weight: bold;
  color: var(--bg-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.about-me .about-me-grid .about-desc p {
  padding-bottom: 15px;
}

.about-me .about-me-grid .about-desc p span {
  font-family: var(--heading-font-family);
}

/* PROJECTS SECTION */
.my-works h1 {
  font-family: var(--heading-font-family);
  text-align: center;
  color: var(--bg-color);
  padding: 10px;
}

.my-works .project {
  background-color: var(--bg-color);
}

.my-works .project .project-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  border: 1px solid #0e2431;
  margin: 25px;
  padding: 30px;
  border-radius: 15px;
}

.my-works .project .project-grid .project-image img {
  max-width: 400px;
  max-height: 350px;
}

.my-works .project .project-grid .project-desc {
  padding: 20px;
}

.my-works .project .project-grid .project-desc h2 {
  font-family: var(--heading-font-family);
  color: #ffe4c4;
  padding-bottom: 6px;
}

.my-works .project .project-grid .project-desc p {
  font-family: var(--body-font-family);
  color: var(--text-color);
  padding-bottom: 12px;
}

.my-works .project .project-grid .project-desc a {
  padding: 12px 10px;
  color: #ffe4c4;
}

/* CONTACT FORM STYLING */
.contact-me {
  background: url(../assets/contact-bg.jpg) no-repeat center center/cover;
  height: 100%;
}

.contact-me h2 {
  font-family: var(--heading-font-family);
  text-align: center;
  color: var(--bg-color);
  padding: 10px;
}

.contact-me form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--body-font-family);
  font-weight: bold;
  color: #0e2431;
  font-size: 18px;
}

.contact-me form input {
  padding: 10px;
  border: none;
  width: 30vw;
}

.contact-me form .name {
  padding: 8px;
}

.contact-me form textarea {
  width: 30vw;
}

.contact-me form button {
  padding: 6px;
  width: 100px;
  padding-top: 8px;
  margin-bottom: 20px;
}

.contact-me form button:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* RESPONSIVENESS */
/* I-PAD PRO*/
@media(max-width:1024px) {

  /* HOME STYLING */
  /* NAVBAR STYLING */
  #navbar .navbar-container .nav-item a {
    padding: 20px;
  }

  /* SHOWCASE STYLING */
  .showcase {
    background: url(../assets/showcase.jpg) no-repeat center center/cover;
    height: 80vh;
    background-attachment: fixed;
    background-size: cover;
  }

  /* MEMORIES GRID STYLING */
  .memories .memories-grid {
    margin-left: 0;
    margin-bottom: 20px;
  }

  /* ABOUT STYLING */
  .about-me h2 {
    margin-top: 20px;
  }

  .about-me .about-me-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 20px auto;
    max-width: 80%;
  }

  .about-me .about-me-grid img {
    margin-top: 30px;
  }

  /* PROJECT STYLING */
  .my-works h1 {
    margin-top: 10px;
  }

  .my-works .project .project-grid .project-image {
    margin: auto 0;
  }
}

@media(max-width:900px) {
  .memories .memories-grid img {
    max-width: 200px;
    max-height: 200px;
  }
}

/* I-PAD SCREEN */
@media (max-width:768px) {

  /* HOME STYLING */
  /* SHOWCASE STYLING */
  .showcase {
    background: url(../assets/showcase.jpg) no-repeat center/cover;
    height: 80vh;
  }

  .showcase .showcase-content {
    padding-top: 120px;
  }

  .memories .memories-grid img {
    max-width: 200px;
    max-height: 200px;
  }

  /* TESTIMONIES STYLING */
  .testimonies .testimonies-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .testimonies .testimonies-grid .test {
    margin: 15px auto;
    max-width: 70%;
  }

  /* ABOUT STYLING */
  .about-me .about-me-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px auto;
    max-width: 100%;
  }

  .about-me .about-me-grid .my-image {
    margin: auto;
  }

  .about-me .about-me-grid img {
    width: 100%;
  }

  .about-me .about-me-grid .my-image {
    margin-top: 20px;
  }

  /* PROJECTS SECTION */
  .my-works .project .project-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    border: 1px solid #0e2431;
    margin: 25px;
    padding: 30px;
    border-radius: 15px;
  }

  .my-works .project .project-grid .project-image img {
    max-width: 100%;
  }
}

@media (max-width:600px) {

  /* HOME STYLING */
  /* NAVBAR STYLING */
  #navbar .navbar-container {
    margin: auto;
    max-width: 90%;
  }

  #navbar .nav-item {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: var(--bg-color);
    transition: top 1s ease;
    display: none;
  }

  #navbar .nav-item li {
    padding: 12px;
  }

  #navbar .nav-item .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
  }

  #navbar .openMenu {
    display: block;
  }

  #navbar .navbar-container .nav-item a {
    font-size: 18px;
    padding: 5px;
  }

  /* SHOWCASE STYLING */
  .showcase {
    background: url(../assets/showcase.jpg) no-repeat center center/cover;
    height: 50vh;
  }

  .showcase .showcase-content {
    padding-top: 160px;
  }

  .showcase .showcase-content h1 {
    font-size: 30px;
  }

  /* SERVICES STYLING */
  .services .service-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* SKILLS STYLING */
  .skills .skills-grid {
    margin: auto;
  }

  /* MEMORIES STYLING */
  .memories .memories-grid div {
    margin: auto;
    max-width: 90%;
  }

  .memories .memories-grid img {
    max-width: 150px;
    max-height: 150px;
  }

  /* FOOTER STYLING */
  footer .footer-grid h2 {
    font-size: 18px;
  }

  /* ABOUT STYLING */
  .about-me .about-me-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .about-me .about-me-grid .my-image {
    margin: 20px auto;
    max-width: 90%;
  }
  
  /* CONTACT US STYLING */
  .contact-me form input {
    padding: 10px;
    border: none;
    width: 70vw;
  }

  .contact-me form .name {
    padding: 8px;
  }

  .contact-me form textarea {
    width: 70vw;
  }
}

/* MOBILE VIEW */
@media (max-width:425px) {

  /* HOME STYLING */
  /* NAVBAR STYLING */
  #navbar .navbar-container {
    margin: auto;
    max-width: 90%;
  }

  #navbar .nav-item {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: var(--bg-color);
    transition: top 1s ease;
    display: none;
  }

  #navbar .nav-item li {
    padding: 12px;
  }

  #navbar .nav-item .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;
  }

  #navbar .openMenu {
    display: block;
  }

  #navbar .navbar-container .nav-item a {
    padding: 5px;
  }

  /* SHOWCASE STYLING */
  .showcase {
    background: url(../assets/showcase.jpg) no-repeat center center/cover;
    height: 80vh;
  }

  .showcase .showcase-content {
    padding-top: 130px;
  }

  .showcase .showcase-content h1 {
    font-size: 23px;
  }

  .showcase .showcase-content p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 100px;
  }

  /* SERVICES STYLING */
  .services .services-header {
    font-size: 24px;
  }

  .services .service-grid {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 20px;
  }

  .services .service-grid h2 {
    font-size: 16px;
  }

  .services .service-grid p {
    font-size: 17px;
  }

  /* STATS & CERT STYLING */
  .stats-cert h1 {
    font-size: 22px;
  }

  .stats-cert .stats-grid h2 {
    font-size: 22px;
  }

  .stats-cert .stats-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* SKILLS STYLING */
  .skills h1 {
    font-size: 22px;
  }

  .skills .skills-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }

  .skills .skills-grid .html {
    padding: 10px;
  }

  /* TESTIMONIES STYLING */
  .testimonies .testimonies-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .testimonies .testimonies-grid .test h2 {
    font-size: 22px;
  }

  .testimonies .testimonies-grid .test p {
    font-size: 17px;
  }

  /* MOMENTS STYLING */
  .memories .memories-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .memories .memories-grid div {
    margin: auto;
    max-width: 80%;
  }

  .memories .memories-grid img {
    max-width: 280px;
    max-height: 280px;
  }


  /* FOOTER STYLING */
  footer .footer-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  footer .footer-grid h2 {
    font-size: 18px;
  }

  /* ABOUT STYLING */
  .my-works h1 {
    margin-top: 20px;
    font-size: 22px;
  }

  .about-me h2 {
    margin-top: 30px;
  }

  .about-me .about-me-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* PROJECT STYLING */
  .my-works .project-grid .project-desc {
    text-align: center;
  }

  .my-works .project-grid .project-desc h2 {
    font-size: 22px;
  }

  /* CONTACT US STYLING */
  .contact-me form input {
    padding: 10px;
    border: none;
    width: 50vw;
  }

  .contact-me form .name {
    padding: 8px;
  }

  .contact-me form textarea {
    width: 50vw;
  }
}

/* SMALLER MOBILE */
@media (max-width:360px) {

  /* SHOWCASE STYLING */
  .showcase {
    background: url(../assets/showcase.jpg) no-repeat center center/cover;
    height: 60vh;
  }

  .showcase .showcase-content p {
    font-family: var(--body-font-family);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 200px;
  }

  /* SERVICES STYLING */
  .services .services-header {
    font-size: 22px;
  }

  .services .service-grid h2 {
    font-size: 20px;
  }

  /* MEMORIES STYLING */
  .memories .memories-grid div {
    margin: auto;
    max-width: 70%;
  }

  .memories .memories-grid img {
    max-width: 200px;
    max-height: 200px;
  }

  /* ABOUT STYLING */
  .about-me .about-me-grid .my-image {
    margin: auto;
    max-width: 80%;
  }

  .about-me .about-me-grid .my-image img {
    max-width: 250px;
    max-height: 250px;
  }

  /* PROJECTS STYLING */
  .my-works .project .project-grid {
    margin: 15px auto;
  }
}